<ion-content>
  <ion-header class="ion-no-border"></ion-header>
  <div class="profile-container">
    <!-- Profile Header -->
    <div class="profile-header">
      <div class="avatar">
        <ion-avatar> <img [src]="user?.photoURL || 'assets/default-avatar.png'" /> </ion-avatar>
        <button class="edit-btn" (click)="editProfilePicture()">
          <ion-icon name="camera"></ion-icon>
        </button>
      </div>
      <h2>{{ user?.displayName || 'Guest' }}</h2>
      <p class="email">{{ user?.email || 'No email available' }}</p>
    </div>

    <!-- Location Card -->
    <div class="location-card">
      <div class="location-header">
        <ion-icon name="location-outline"></ion-icon>
        <span>Your Location</span>
      </div>
      <div class="location-value">
        <!-- Kullanıcının mevcut konumu burada gösterilecek -->
        <span>{{ locationCity + ', ' + locationCountry || 'Location not set' }}</span>
        <ion-icon name="create-outline" (click)="locationCity = ''"></ion-icon> <!-- Edit simgesi -->
      </div>
    </div>

    <!-- Menu List -->
    <ion-list lines="none">


      <ion-item button (click)="goToPersonalInfo()">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Personal Information</ion-label>
        <ion-icon slot="end" name="chevron-forward"></ion-icon>
      </ion-item>

      <ion-item (click)="logOut()">
        <ion-icon slot="start" name="log-in-outline"></ion-icon>
        <ion-label>Log Out</ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>


