<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="curved-header">
    <h1>Welcome to</h1>
    <h2>Travel</h2>
  </div>

  <div class="signup-container">
    <ion-list class="ion-no-padding">
      <ion-item lines="none">
        <ion-label position="stacked">Name</ion-label>
        <ion-input type="text" placeholder="Enter Your Name"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Surname</ion-label>
        <ion-input type="text" placeholder="Enter Your Surname"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">E-mail</ion-label>
        <ion-input type="email" placeholder="Enter your e-mail"></ion-input>
      </ion-item>

      <ion-item lines="none" class="password-input-container">
        <ion-label position="stacked">Password</ion-label>
        <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Enter Your Password"></ion-input>
        <ion-icon
          [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
          slot="end"
          (click)="togglePasswordVisibility()"
          class="eye-icon"
        ></ion-icon>
      </ion-item>

      <ion-item lines="none" class="password-input-container">
        <ion-label position="stacked">Confirm Password</ion-label>
        <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Enter Your Password Again"></ion-input>
        <ion-icon
          [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
          slot="end"
          (click)="togglePasswordVisibility()"
          class="eye-icon"
        ></ion-icon>
      </ion-item>
    </ion-list>

    <ion-button expand="block" class="signup-button">
      Sign Up Now
    </ion-button>

    <div class="divider">
      <span>Or</span>
    </div>

    <div class="login-prompt">
      <span>Already have an account? </span>
      <ion-button fill="clear" size="small" routerLink="/auth/login">Login Now</ion-button>
    </div>
  </div>
</ion-content>