<ion-content [fullscreen]="true">

  <div class="curved-header">
    <h1>Welcome to</h1>
    <h2>TravelMate</h2>
  </div>
  
  <div class="login-container">
    <ion-list class="ion-no-padding">
      <ion-item lines="none">
        <ion-label position="stacked">E-posta</ion-label>
        <ion-input type="email" [(ngModel)]="email" placeholder="E-posta adresinizi girin"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" class="login-button"  (click)="onForgotPassword()">Sıfırlama Maili Gönder</ion-button>
    
    <div class="divider">
      <span>Veya</span>
    </div>

    <div class="social-buttons">
      <ion-button expand="block" class="google-button">
        <ion-icon slot="start" name="logo-google" class="google-icon"></ion-icon>
        Google ile Devam Et
      </ion-button>
      <ion-button expand="block" class="facebook-button">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        Facebook ile Devam Et
      </ion-button>
    </div>

    <div class="signup-prompt">
      <span>Hesabınız yok mu? </span>
      <ion-button fill="clear" size="small" routerLink="/auth/signup">Şimdi Kayıt Ol</ion-button>
    </div>
  </div>
</ion-content>