<ion-content class="trips-content" fullscreen>
  <!-- Header -->
  <div class="header-row">
    <h2>Your Trips</h2>
    <ion-avatar class="avatar">
      <img [src]="user?.photoURL || 'assets/default-avatar.png'" />
    </ion-avatar>
  </div>

  <!-- Search -->
  <div class="search-bar">
    <ion-icon name="search-outline"></ion-icon>
    <input type="text" placeholder="Search" [(ngModel)]="searchTerm" />
  </div>

  <!-- Upcoming -->
  <div class="section-title">Your Upcoming Trips</div>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let trip of filteredUpcomingTrips">
        <ion-card class="itinerary-card">
          <img [src]="trip.image_url || 'assets/images/placeholder.jpg'" (click)="goToRouteDetail(trip)" />
          <ion-card-content>
            <h3>{{ trip.title }}</h3>
            <div class="info-row">
              <ion-icon name="location-outline"></ion-icon>
              <span>{{ trip.city}}</span>
            </div>
            <div class="action-buttons">
              <ion-button 
                fill="clear" 
                size="small" 
                [color]="trip.isShared ? 'success' : 'medium'"
                (click)="toggleShare(trip, $event)">
                <ion-icon [name]="trip.isShared ? 'earth' : 'share-social-outline'"></ion-icon>
                {{ trip.isShared ? 'Shared' : 'Share' }}
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



  <!-- Past -->
  <div class="section-title">Your Past Trips</div>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let trip of filteredPastTrips">
        <ion-card class="itinerary-card" (click)="goToRouteDetail(trip)">
          <img [src]="trip.image_url || 'assets/images/placeholder.jpg'" />
          <ion-card-content>
            <h3>{{ trip.title }}</h3>
            <div class="info-row">
              <ion-icon name="location-outline"></ion-icon>
              <span>{{ trip.city }}</span>
            </div>
            <div class="action-buttons">
              <ion-button 
                fill="clear" 
                size="small" 
                [color]="trip.isShared ? 'success' : 'medium'"
                (click)="toggleShare(trip, $event)">
                <ion-icon [name]="trip.isShared ? 'earth' : 'share-social-outline'"></ion-icon>
                {{ trip.isShared ? 'Shared' : 'Share' }}
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="bottom-padding"></div>
</ion-content>