.custom-header {
  ion-toolbar {
    --background: var(--ion-color-primary);
    --color: white;
  }
}

.title-container {
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
}

ion-content {
  --background: #ffffff;
}

ion-card {
  margin-top: 24px;
  background: var(--ion-color-primary);
  border-radius: 16px;
  padding: 12px;
}

ion-avatar {
  margin: 0 auto;
  display: block;
  width: 96px;
  height: 96px;
  margin-bottom: 12px;
}

ion-card-title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

ion-card-subtitle {
  text-align: center;
  color: #666;
  font-size: 14px;
  margin-bottom: 12px;
}

ion-item {
  --background: transparent;
  --inner-padding-end: 0;
  --padding-start: 0;
  border: none;
}

ion-label {
  font-weight: 600;
  color: #333;
}

ion-text {
  color: #fff;
  font-weight: 400;
}
