<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">Home</ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="location">
    <div>
      <h3 class="location-label">Your Location</h3>
      <h2 class="location-value">Tangerang, Kab.</h2>
    </div>
  </div>

  <ion-searchbar placeholder="Search" class="custom-searchbar"></ion-searchbar>

  <h2 class="section-title">Popular Itineraries</h2>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of popularItems">
        <ion-card>
          <div class="card-image-container">
            <img [src]="item.image" class="card-image" />
            <ion-button fill="clear" class="favorite-button">
              <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
            </ion-button>
          </div>
          <ion-card-header>
            <ion-card-title>{{ item.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="card-details">
              <ion-icon name="location-outline"></ion-icon>
              <span>{{ item.location }}</span>
            </div>
            <div class="rating">
              <div class="rating-stars">
                <ion-icon name="star" color="warning"></ion-icon>
                <span>{{ item.rating }}</span>
              </div>
              <ion-avatar class="small-avatar">
                <img [src]="item.userAvatar" />
              </ion-avatar>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="block" class="route-button">
    Create New Route Plan
  </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar class="bottom-bar">
    <ion-buttons>
      <ion-button>
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="reader-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

