<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="curved-header">
    <h1>Welcome to</h1>
    <h2>Travel</h2>
  </div>

  <div class="login-container">
    <ion-list class="ion-no-padding">
      <ion-item lines="none">
        <ion-label position="stacked">E-mail</ion-label>
        <ion-input type="email" placeholder="Enter your e-mail"></ion-input>
      </ion-item>

      <ion-item lines="none" class="password-input-container">
        <ion-label position="stacked">Password</ion-label>
        <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Enter Your Password"></ion-input>
        <ion-icon
          [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
          slot="end"
          (click)="togglePasswordVisibility()"
          class="eye-icon"
        ></ion-icon>
      </ion-item>
    </ion-list>
    
    <div class="forgot-password">
      <ion-button fill="clear" size="small" routerLink="/auth/forgot-password">Forgot your password?</ion-button>
    </div>

    <ion-button expand="block" class="login-button">
      Log In
    </ion-button>

    <div class="signup-prompt">
      <span>Don't have an account? </span>
      <ion-button fill="clear" size="small" routerLink="/auth/signup">Sign Up Now</ion-button>
    </div>
  </div>
</ion-content>